@{
    ViewData["Title"] = "Stellar View";
}

<h1>星圖</h1>
<div class="row">
    <div class="col-md-12">
        <label for="server-name">伺服器：</label>
        <select id="server-name">
            <option value="s101-tw.ogame.gameforge.com">
                Andromeda
            </option>
            <option value="s115-tw.ogame.gameforge.com">
                Orion
            </option>
            <option value="s116-tw.ogame.gameforge.com">
                Pegasus
            </option>
            <option value="s117-tw.ogame.gameforge.com">
                Quantum
            </option>
            <option value="s118-tw.ogame.gameforge.com">
                Rigel
            </option>
            <option value="s119-tw.ogame.gameforge.com" selected>
                Sirius
            </option>
            <option value="s120-tw.ogame.gameforge.com">
                Taurus
            </option>
        </select> 
        <label for="user-name">玩家名稱：</label>
        <input type="text" id="user-name" value="" />
        <button type="button" id="player-request">諮詢</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Show Output -->
        <div id="query-result"></div>
    </div>
</div>
